<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCB Chatbot</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!--  Archivo de estilo personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
     <div id="introScreen" class="text-center"> 
        <h1 id="chatbotTitle">PCB ChatBot</h1>
        <img src="static/img/pcb_chatbot.png" alt="PCB ChatBot Logo" class="img-fluid mx-auto d-block mt-4">
       
        <button id="startChatButton" class="btn btn-primary">Comenzar chat</button>
    </div>

    <div class="chat-container" style="display: none;">
        <div class="chat-box">
            <div class="chat-output" id="chatOutput"></div>
            <div class="typing-animation" id="typingAnimation" style="display: none;">
                PCB Bot está escribiendo
                <span class="dot">.</span>
                <span class="dot">.</span>
                <span class="dot">.</span>
            </div>
            
            <!-- Quick reply section -->
            <div class="quick-replies" id="quickReplies" style="display: none;"></div>
            
            <div class="chat-input-container">
  
                <textarea class="chat-input form-control" id="chatInput" placeholder="Escribe un mensaje..."></textarea>
                <button id="sendButton" class="btn btn-primary mt-2">Enviar</button> <!-- mt-2 es una clase de Bootstrap que añade un margen superior -->
            </div>
        </div>
    </div>

    <audio id="sendSound" src="{{ url_for('static', filename='audio/notification_audio.mp3') }}" preload="auto"></audio>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const title = document.getElementById("chatbotTitle");
            const text = title.textContent;
            title.textContent = "";
            
            let index = 0;
            
            function typeTitle() {
                if (index < text.length) {
                    title.textContent += text[index];
                    index++;
                    setTimeout(typeTitle, 150);
                } else {
                    title.style.animation = "blink 0.5s step-end infinite";
                }
            }
        
            typeTitle();
        });
    </script>
        
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>










